@font-face {
  font-family: "arrow";
  src: url("../font/arrow.eot") format("eot"),
  url("../font/arrow.svg") format("svg"),
  url("../font/arrow.ttf") format("ttf"),
  url("../font/arrow.woff") format("woff");
}

.controller-unit {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 5px;

  text-align: center;
  vertical-align: middle;

  cursor: pointer;

  background-color: #aaa;

  border-radius: 50%;

  transform: scale(0.5);
  transition: transform .3s ease-in-out;

  &.is-center {
    transform: scale(1);
    background-color: #888;

    &::after {
      content: '\21ba';
      font-family: "arrow";
      font-size: 22px;
      display: inline-block;
      line-height: 30px;
      color: #fff;
    }

    &.is-inverse {
      background-color: #555;
      transform: rotateY(180deg);
    }
  }
}
